<div class="grid-background"></div>

<style>
	.grid-background {
		position: fixed;
		inset: 0;

		z-index: -1;
		pointer-events: none;

		background-color: hsl(var(--background));

		background-image:
			linear-gradient(
				to right,
				hsl(var(--border) / 0.35) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				hsl(var(--border) / 0.35) 1px,
				transparent 1px
			);

		background-size: 40px 40px;

		mask-image:
			radial-gradient(
				ellipse at center,
				black 30%,
				transparent 85%
			);

		-webkit-mask-image:
			radial-gradient(
				ellipse at center,
				black 30%,
				transparent 85%
			);
	}
</style>