{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml", "pnpm-workspace.yaml"],
      "options": {
        "parser": "yaml",
        "singleQuote": false
      }
    }
  ]
}
